.main-bar.is-invisible {
    background-color: transparent;
    height: 100%;
    overflow-y: auto
}

.main-bar.is-invisible > .container {
    background-color: #fff;
}

body.toggleMenu {
    position: relative;
    width: 100%;
    overflow: hidden;
}

body.toggleMenu .main-nav {
    overflow: scroll;
}
