.main-bar.is-invisible {
    background-color: transparent;
    height: 100%;
    overflow-y: auto
}

.main-bar.is-invisible > .container {
    background-color: #fff;
}

body.toggleMenu {
    -webkit-overflow-scrolling: touch;
}

html {
    overflow: hidden !important;
}

body.toggleMenu .main-nav {
    overflow: scroll;
}
