.main-bar.is-invisible {
    background-color: transparent;
    height: 100%;
    overflow-y: auto
}

.main-bar.is-invisible > .container {
    background-color: #fff;
}

html.toggleMenu, html.toggleMenu body {
      position: relative;
      height: 100%;
      overflow: hidden;
}

@media only screen and  (max-width: 991px) {
@media not all and (min-resolution:.001dpcm) { @media
{
       html.toggleMenu, html.toggleMenu body {
      position: relative;
      height: 100%;
      overflow: hidden;
        }

    html.toggleMenu .main-nav {
        overflow: scroll;
        scroll-behavior: smooth;
    }
    .main-nav-item > a {
    height: 58px;
    line-height: 58px;
    }
}
}
