/* riding options - edited 30 May */

#desktop_riding_options_id .nav-pills li {
        border-radius: 7px 7px 0px 0px;
}

.nav-header-container h4 {
    line-height: 1.3em;
}

#ridingoptions {
    min-height: 700px;
}

@media only screen and (min-width:768px){
    
        #desktop_riding_options_id .hidden-md-down {
        display:block!important
    }
}
    
