a.cancel {
  text-transform: uppercase !important;
}
.fancybox-lock {
    position: fixed;
    width: 100%;
   overflow-y: hidden;
    -webkit-overflow-scrolling: hidden;
}
.fancybox-overlay{height:auto !important}


